body{
    font-family: "Inter", sans-serif;
    margin: 0px;
    color: #141414;
}

h1, h2, h3, h4, h5, p{
    margin: 0px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img{
   max-width: 100%;
   height: auto;
   display: block; 
}

.subtitulo{
    font-size: 8rem;
    word-break: break-all;
    line-height: 1;
    text-transform: uppercase;
    max-width: 4ch; /*ch é o caracter 0; tamanho maximo de 4 caracteres neste caso */
}

@media (max-width: 800px){
    .subtitulo{
        max-width: initial;
        font-size: 4rem;
    }
}