.header {
    padding: 40px 20px; /* se quiser adicionar um background, vai pegar em todo .header */
    max-width: 1200px; /* pra parar de crescer indefinidamente */
    margin: 0px auto; /* centralizar */
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }
  
  .header h2{
    white-space: nowrap; /* não quebrar palavra */
    font-size: 4.5rem;
  }
  
  .header-menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .header-menu a {
    display: block; /* nos links, para melhor funcionamento do padding */ 
    text-decoration: none;
    color: #141414;
    padding: 20px 10px;
    font-size: 1.125rem;
  }
  
  @media (max-width: 800px) {
    .header{
      flex-direction: column;
      gap: 30px;
      padding: 20px;
    }
  
    .header-menu a {
      background-color: #f5f5f5;
      border-radius: 4px;
    }  
  }